:root {
  --variable-name: value;
}
selector {
  property: var(--variable-name);
}
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

.astrodivider {
  margin:64px auto;
  width:400px; 
  max-width: 100%;
  position:relative;
  margin-top: 4%;
}

.astrodividermask { 
    overflow:hidden; 
    height:20px; 
}

.astrodividermask:after { 
      content:''; 
      display:block; margin:-25px auto 0;
      width:100%; height:25px;  
        border-radius:125px / 12px;
       box-shadow:0 0 8px grey;
}
.astrodivider span {
    width:50px; height:50px; 
    position:absolute; 
    bottom:100%; margin-bottom:-25px;
    left:50%; margin-left:-25px;
    border-radius:100%;
   box-shadow:0 2px 4px grey;
    background:white;
}
.astrodivider i {
    position:absolute;
    top:4px; bottom:4px;
    left:4px; right:4px;
    border-radius:100%;
    border:1px dashed grey;
    text-align:center;
    line-height:40px;
    font-style:normal;
     color:#4756df;
}

}
/*for mobile*/

@media only screen and (min-width:448px){
    .navbar{
    background-color: whitesmoke;
    height: 15%;
}
    a:hover{
    color: black;
}
.d-block{
    position: absolute;
    width:70%;
    height: 10%;
    margin-left: 16%;
    background-color: white;
    margin-top:5%;
    opacity: 0.9;
    border: 2px solid black;
    box-shadow:4px 4px 4px 4px grey;
}
.d-block p{
    position: relative;
}

    

.p-1{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
    border-radius: 4px 4px 4px 4px;
    color: whitesmoke;
    height: 1px;
}
.hero{
    margin-top: 2%;
}
.hero-img{
    width: 60%;
    height: 20%;
    margin-left: 25%;
}
.divider-custom-line{
    color: black;
}
#about{
    margin-top: 2%;
}
#pic{
    margin-top: 1%;
}
.portfolio-item{
    margin-top: 1%;
    margin-left: 10%;
}
.img-fluid{
    margin-top: 1%;
    width: 60%;
    margin-left: 26%;
}
#skills{
    margin-top: 1%;
}
#Projects{
    margin-top: 5%;
    margin-bottom: 8%;
}
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
}






/*for tablets and laptop*/

@media only screen and (min-width:720px){
    .navbar{
    background-color: whitesmoke;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar-brand{
    color: #4756df;;
}

.nav-link{
    color: #4756df;
}
a:hover{
    color: black;
}
.d-block{
    width:70%;
    margin-left: 16%;
    margin-right: 6%;
    background-color: white;
    margin-top:5%;
    opacity: 0.9;
    border-radius: 10px;
    box-shadow: 0 3px 10px var(--secondary-shadow);

}

.header-text {
    position: absolute;
    top: 50%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}
.btn-min-block {
    min-width: 220px;
    line-height: 48px;
}

.btn-theme {
    color: #fff;
    background-color: red;
    border: 2px solid red;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    transition: 0.3s ease;
    background-color: greenyellow;
    border-color: greenyellow;
}
.a{
    color: white;
    margin-left: 15%;
}
.c{
    margin-top: 13%;
    margin-left: 15%;
}
.b{
    top: 30;
}
.b .btn{
    margin-top: 6%;
}
.a .btn{
    margin-top: 2%;
}


.p-1{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
    border-radius: 4px 4px 4px 4px;
    color: whitesmoke;
    height: 1px;
}
.hero{
    margin-top: 1.5rem;
    margin-right: 6%;
}
.hero-img{
    width: 60%;
    height: 30%;
    margin-left: 25%;
}
#about{
    margin-top: 2%;
    color: black;
    background-color: #fcfcfc;
}
#pic{
    margin-top: 1%;
}
.portfolio-item{
    margin-top: 8%;
    margin-left: 10%;
}
.img-fluid{
    margin-top: 2%;
    width: 70%;
    margin-left: 12%;
}
#skills{
    margin-top: 3%;
    border-radius: 11px;
}
#skills img{
    box-shadow: 0 3px 10px #a17a69;
    border-radius: 10%;
}
#Projects{
    margin-top: 5%;
    margin-bottom: 8%;
    background-color: #fcfcfc;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0.2%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}
.content {
  margin-left: 75px;
  font-size: 30px;s
}
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px  #a17a69;
}
.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}
.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}
.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}
.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
footer {
  background-color: var(--bg-color);
  text-align: center;
  margin: 2rem 0 0;
}
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
}
